@model IEnumerable<Noleggio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdUtenteNoleggiante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInizio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndirizzoSpedizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CostoNoleggio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeseSpedizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StripePaymentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Videogioco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdUtenteNoleggiante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInizio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IndirizzoSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostoNoleggio)
            </td> <td>
                @Html.DisplayFor(modelItem => item.SpeseSpedizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StripePaymentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Videogioco.CasaProduttrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdNoleggio">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdNoleggio">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdNoleggio">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
