@using Microsoft.AspNetCore.Identity
@inject UserManager<Utente> UserManager

@model IEnumerable<Noleggio>

@{
    ViewData["Title"] = "Index";
}

    @if (TempData["Message"] != null)
{
    <div class="alert alert-warning">
        @TempData["Message"]
    </div>
}

<div class="container-fluid">
@if (User.IsInRole("Admin"))
{
    <h1>Noleggi</h1>
}
else
{
    <h1>I tuoi noleggi</h1>
}


@if (User.IsInRole("Admin"))
{
    <div class="card regind-card mb-3">
        <div class="card-body">
            <form asp-action="Index" method="get">
                <div class="form-row">
                    <div class="form-group mb-2 col-6">
                        <input type="text" class="form-control form-control-sm" id="userNameSearchString" name="userNameSearchString" placeholder="Cerca per UserName">
                    </div>
                    <div class="form-group mb-2 col-6">
                        <input type="text" class="form-control form-control-sm" id="videogameSearchString" name="videogameSearchString" placeholder="Cerca per nome videogioco">
                    </div>
                    <div class="form-group mb-2 col-6">
                        <label for="disponibile">Stato noleggio:</label>
                        <select class="form-control form-control-sm" id="disponibile" name="disponibile">
                            <option value="">Seleziona uno stato</option>
                            <option value="true">Restituito</option>
                            <option value="false">In corso</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary mb-2">Cerca</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
}

@if (User.IsInRole("Admin"))
{
<table class="table table-striped">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdUtenteNoleggiante)</th>
            <th>Foto</th>
            <th>Videogioco</th>
            <th>@Html.DisplayNameFor(model => model.DataInizio)</th>
            <th>@Html.DisplayNameFor(model => model.DataFine)</th>
            <th>@Html.DisplayNameFor(model => model.IndirizzoSpedizione)</th>
            <th>@Html.DisplayNameFor(model => model.CostoNoleggio)</th>
            <th>@Html.DisplayNameFor(model => model.SpeseSpedizione)</th>
            <th>@Html.DisplayNameFor(model => model.StripePaymentId)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdUtenteNoleggiante)</td>
                <td>
                    <img src="@item.Videogioco.Foto" alt="@item.Videogioco.Titolo" width="100" height="100" />
                </td>
                <td>@Html.DisplayFor(modelItem => item.Videogioco.Titolo)</td>
                <td>@Html.DisplayFor(modelItem => item.DataInizio)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataFine)
                    @if (item.DataFine < DateTime.Now)
                    {
                        <span class="badge bg-success">Restituito il: @item.DataFine.ToShortDateString()</span>
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.IndirizzoSpedizione)</td>
                <td>@String.Format("{0:C}", item.CostoNoleggio)</td>
                <td>@String.Format("{0:C}", item.SpeseSpedizione)</td>
                <td>@Html.DisplayFor(modelItem => item.StripePaymentId)</td>
                <td>
                    @if (item.Stato == Noleggio.StatoNoleggio.InSospeso)
                    {
                        <a onclick="return confirm('Sei sicuro di voler completare il pagamento per questo noleggio?');" asp-action="Payment" asp-route-id="@item.IdNoleggio" class="btn btn-completa-pagamento">Completa Pagamento</a>
                            <a onclick="return confirm('Sei sicuro di voler annullare questo noleggio?');" asp-action="Cancel" asp-route-id="@item.IdNoleggio" class="btn btn-cancel-delete">Annulla noleggio</a>

                    }
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" class="btn btn-save" asp-route-id="@item.IdNoleggio">Modifica</a>
                            <a asp-action="Delete" asp-route-id="@item.IdNoleggio" class="btn btn-cancel-delete">Elimina</a>
                    }
                            <a asp-action="Details" asp-route-id="@item.IdNoleggio" class="btn btn-return">Dettagli</a>
                    @if (!User.IsInRole("Admin") && item.DataFine > DateTime.Now)
                    {
                        <a asp-action="Restituisci" asp-route-id="@item.IdNoleggio" class="btn btn-primary">Restituisci</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
}
else
{
    <div class="card regind-card mb-3">
        <div class="card-body">
            <form asp-action="Index" method="get">
                <div class="form-row">
                    <div class="form-group mb-2 col-6">
                        <label for="disponibile">Stato noleggio</label>
                        <select class="form-control form-control-sm" id="disponibile" name="disponibile">
                            <option value="">Seleziona uno stato:</option>
                            <option value="true">Restituito</option>
                            <option value="false">In corso</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <button type="submit" class="btn btn-primary mb-2">Cerca</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

   //mostro la card solo se il videogioco non è dello user loggato proprietario id != da id utente loggato
   <div class="row">
        @foreach (var item in Model)
        {
            // Ottieni l'ID dell'utente correntemente loggato

    var userId = UserManager.GetUserId(User);

            // Mostra la card solo se l'ID del proprietario del videogioco è diverso dall'ID dell'utente loggato
            if (item.Videogioco.IdProprietario != userId)
            {
                <div class="col-sm-12">
                    <div class="card mb-4">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="@item.Videogioco.Foto" class="card-img" alt="@item.Videogioco.Titolo">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Videogioco.Titolo)</h5>
                                    <p class="card-text">
                                        <strong>@Html.DisplayNameFor(model => model.DataInizio):</strong> @Html.DisplayFor(modelItem => item.DataInizio)<br />
                                        <strong>@Html.DisplayNameFor(model => model.DataFine):</strong> @Html.DisplayFor(modelItem => item.DataFine)<br />
                                        <strong>@Html.DisplayNameFor(model => model.IndirizzoSpedizione):</strong> @Html.DisplayFor(modelItem => item.IndirizzoSpedizione)<br />
                                        <strong>@Html.DisplayNameFor(model => model.CostoNoleggio):</strong> @String.Format("{0:C}", item.CostoNoleggio)<br />
                                        <strong>@Html.DisplayNameFor(model => model.SpeseSpedizione):</strong> @String.Format("{0:C}", item.SpeseSpedizione)<br />
                                        <strong>@Html.DisplayNameFor(model => model.StripePaymentId):</strong> @Html.DisplayFor(modelItem => item.StripePaymentId)
                                    </p>
                                        <a href="@Url.Action("Details", "Noleggi", new { id = item.IdNoleggio })" class="btn btn-return">Dettagli</a>
                                    @if (!User.IsInRole("Admin") && item.DataFine > DateTime.Now)
                                    {
                                        <a asp-action="Restituisci" asp-route-id="@item.IdNoleggio" class="btn btn-return">Restituisci</a>
                                    }
                                </div>
                        </div>
                    </div>
                </div>
            </div>
            }
        }
    </div>
}
}

</div>

@section Scripts {
       <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const restituisciButtons = document.querySelectorAll('.restituisci-button');

            restituisciButtons.forEach(button => {
                button.addEventListener('click', function (event) {
                    const conferma = confirm('Sei sicuro di voler restituire questo videogioco?');
                    if (!conferma) {
                        event.preventDefault();
                    }
                });
            });
        });
    </script>


    <script type="text/javascript">
        document.querySelectorAll(".btn-return").forEach(function (button) {
            button.addEventListener("click", function (event) {
                event.preventDefault();
                const url = this.getAttribute('href');
                swal({
                    title: "Sei sicuro?",
                    text: "Sei sicuro di voler restituire questo videogioco?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willReturn) => {
                        if (willReturn) {
                            window.location.href = url;
                        }
                    });
            });
        });
    </script>

    <script type="text/javascript">
        document.querySelectorAll(".btn-cancel-delete").forEach(function (button) {
            button.addEventListener("click", function (event) {
                event.preventDefault();
                const url = this.getAttribute('href');
                swal({
                    title: "Sei sicuro?",
                    text: "Sei sicuro di voler annullare questo noleggio?",
                    icon: "warning",
                    buttons: true,
                    dangerMode: true,
                })
                    .then((willCancel) => {
                        if (willCancel) {
                            window.location.href = url;
                        }
                    });
            });
        });
    </script>
}

