@model Nostalgame.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Benvenut* in Nostalgame!</h1>

<div class="container-fluid">
    <!--messaggio di successo per il login-->
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success my-2">
            @TempData["SuccessMessage"]
        </div>
    }

    <!--Quiz-->
    <div class="row justify-content-center mb-3">
        <div class="col-md-6">
            <div class="card mt-4 mb-2">
                <div class="card-body">
                    <h4 class="card-title">Qual'è il tuo avatar?</h4>
                    @if (!Model.HasAvatar)
                    {
                        <p class="card-text">Scopri quale avatar fa per te completando il nostro quiz!</p>
                        <a href="@Url.Action("Submit", "Quiz")" class="btn btn-primary">Inizia il Quiz</a>
                    }
                    else
                    {
                        <p class="card-text">Ripeti il quiz per scoprire se il tuo avatar è cambiato!</p>
                        <a href="@Url.Action("Submit", "Quiz")" class="btn btn-primary">Ripeti il Quiz</a>
                    }
                </div>
            </div>
        </div>
    </div>

    <!-- Gioco casuale -->
    <div class="row justify-content-center mb-3">
        <div class="col-md-6 text-center">

            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="container-dice">
                        <div class="dice">
                            <div class="one">
                                <span></span>
                            </div>
                            <div class="two">
                                <span></span>
                                <span></span>
                            </div>
                            <div class="three">
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="four">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="five">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                            <div class="six">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div id="randomGameContainer"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- Carosello per tutti i videogiochi -->
    <div class="carousel-container">
        <h2>TUTTI I VIDEOGIOCHI</h2>
        <div id="videogiochiCarosello" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (int i = 0; i < Model.TuttiVideogiochi.Count; i += 5)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
                            @for (int j = 0; j < 5; j++)
                            {
                                if (i + j < Model.TuttiVideogiochi.Count)
                                {
                                    var videogioco = Model.TuttiVideogiochi[i + j];
                                    <div class="col mb-4">
                                        <div class="card videogioco-card" style="width: 100%; max-width: 18rem;">
                                            <img src="@videogioco.Foto" class="card-img-top" alt="@videogioco.Titolo">
                                            <div class="card-body">
                                                <span class="badge badge-viola">@videogioco.Piattaforma</span>
                                                <h5 class="card-title">@videogioco.Titolo</h5>
                                                <a href="@Url.Action("Details", "Videogiochi", new { id = videogioco.IdVideogioco })" class="btn btn-primary">Vai ai dettagli</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#videogiochiCarosello" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Precedente</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#videogiochiCarosello" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Successivo</span>
            </button>
        </div>

        <a href="@Url.Action("Index", "Videogiochi")" class="btn btn-primary">Vedi altro</a>
    </div>

    <!-- Carosello per i giochi appena aggiunti -->
    <div class="carousel-container">
        <h2>AGGIUNTI DI RECENTE</h2>
        <div id="giochiAppenaAggiuntiCarosello" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @for (int i = 0; i < Model.GiochiAppenaAggiunti.Count; i += 5)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
                            @for (int j = 0; j < 5; j++)
                            {
                                if (i + j < Model.GiochiAppenaAggiunti.Count)
                                {
                                    var videogioco = Model.GiochiAppenaAggiunti[i + j];
                                    <div class="col mb-4">
                                        <div class="card videogioco-card" style="width: 100%; max-width: 18rem;">
                                            <img src="@videogioco.Foto" class="card-img-top" alt="@videogioco.Titolo">
                                            <div class="card-body">
                                                <span class="badge badge-viola">@videogioco.Piattaforma</span>
                                                <h5 class="card-title">@videogioco.Titolo</h5>
                                                <a href="@Url.Action("Details", "Videogiochi", new { id = videogioco.IdVideogioco })" class="btn btn-primary">Vai ai dettagli</a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#giochiAppenaAggiuntiCarosello" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Precedente</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#giochiAppenaAggiuntiCarosello" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Successivo</span>
            </button>
        </div>
    </div>
</div>

<!-- Script per il gioco casuale -->
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.dice').click(function () {
                $.get('@Url.Action("RandomGame", "Home")', function (data) {
                    $('#randomGameContainer').html(data).show().addClass('fade-in');
                });

                var roll = Math.floor(Math.random() * 6 + 1);
                $(this).attr("class", "dice");
                setTimeout(function () {
                    $(".dice").addClass("roll-" + roll);
                }, 1);
            });
        });
    </script>
}

