@model IEnumerable<Nostalgame.Models.Abbonamento>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crea</a>
</p>

@foreach (var item in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.TipoAbbonamento)</h5>
            <p class="card-text">
                <strong>Costo Mensile:</strong> @Html.DisplayFor(modelItem => item.CostoMensile)
            </p>
            <a asp-action="Edit" asp-route-id="@item.IdAbbonamento" class="btn btn-primary">Modifica</a>
            <a asp-action="Details" asp-route-id="@item.IdAbbonamento" class="btn btn-secondary">Dettagli</a>
            <a asp-action="Delete" asp-route-id="@item.IdAbbonamento" class="btn btn-danger">Elimina</a>
        </div>
    </div>
}
