@model Nostalgame.Models.Registrazione

@{
    ViewData["Title"] = "Details";
}

<h1>Dettagli utente</h1>

<div class="card regdet-card">
    <div class="card-header">
        <a asp-action="EditDetails" asp-route-id="@Model.IdRegistrazione" class="btn btn-primary">Modifica Dati Personali</a>
        @if (Model.Abbonamento.TipoAbbonamento != "Premium")
        {
            <a asp-action="Edit" asp-route-id="@Model.IdRegistrazione" class="btn btn-primary">Effettua l'upgrade</a>
        }        <a asp-action="ChangeUsernamePassword" class="btn btn-primary">Cambia Username o Password</a>
    </div>
    <div class="card-body">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Utente.UserName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Utente.UserName)
            </dd><dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Cognome)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Cognome)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Indirizzo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Indirizzo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Citta)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Citta)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            @if (User.IsInRole("Admin"))
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Utente)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Utente.Id)
                </dd>
            }
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Abbonamento)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Abbonamento.TipoAbbonamento)
            </dd>
        </dl>
    </div>
</div>

<a asp-action="Index" class="btn btn-primary mt-3">Indietro</a>
