@model IEnumerable<Nostalgame.Models.Registrazione>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a class="btn btn-success" asp-area="" asp-controller="PagamentoAbbonamenti" asp-action="Index">Storico Pagamento Abbonamenti</a>


<p>
    <a asp-action="Create">Crea</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Indirizzo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Citta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Utente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Abbonamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Indirizzo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Citta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Utente.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Abbonamento.TipoAbbonamento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRegistrazione">Modifica</a> |
                <a asp-action="Details" asp-route-id="@item.IdRegistrazione">Dettagli</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRegistrazione">Elmina</a>
            </td>
        </tr>
}
    </tbody>
</table>
