@model Nostalgame.Models.Videogioco

@{
    ViewData["Title"] = "Details";
}

<h1>Dettagli</h1>

<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="@Model.Foto" alt="Foto del videogioco" class="img-fluid">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">@Model.Titolo</h5>
                <p class="card-text">@Model.Descrizione</p>
                <p class="card-text"><small class="text-muted">Piattaforma: @Model.Piattaforma</small></p>
                <p class="card-text"><small class="text-muted">Casa Produttrice: @Model.CasaProduttrice</small></p>
                <p class="card-text"><small class="text-muted">Anno: @Model.Anno</small></p>
                <p class="card-text"><small class="text-muted">Disponibile: @Model.Disponibile</small></p>
                <p class="card-text"><small class="text-muted">Proprietario: @Model.Proprietario.Id</small></p>
                <p class="card-text"><small class="text-muted">Genere: @Model.Genere.Nome</small></p>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdVideogioco" class="btn btn-primary">Modifica</a> |
    <a asp-action="Create" asp-controller="Noleggi" asp-route-idVideogioco="@Model.IdVideogioco" class="btn opacity-75 @(Model.Disponibile ? "btn-success" : "btn-dark") @(Model.Disponibile ? "" : "d-none") ">Noleggia</a>

    <a asp-action="Index" class="btn btn-secondary">Indietro</a>
</div>
