@model IEnumerable<Nostalgame.Models.Videogioco>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="@item.Foto" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@item.Titolo</h5>
                    <p class="card-text">@item.Descrizione</p>
                    <a asp-action="Details" asp-route-id="@item.IdVideogioco" class="btn btn-primary">Dettagli</a>
                    <a asp-action="Create" asp-controller="Noleggi" asp-route-idVideogioco="@item.IdVideogioco" class="btn btn-success">Noleggia</a>
                </div>
            </div>
        </div>
    }
</div>
