@model IEnumerable<Nostalgame.Models.Videogioco>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="row">
   </div>
@foreach (var item in Model)
{
    <div class="col-md-4">
        <div class="card position-relative">
            <img class="card-img-top" src="@item.Foto" alt="Card image cap">
                @if (!item.Disponibile)
                {
                    var ultimoNoleggio = item.Noleggi.OrderByDescending(n => n.DataFine).FirstOrDefault();
                    if (ultimoNoleggio != null && ultimoNoleggio.DataFine > DateTime.Now)
                    {
                    <span class="badge bg-secondary text-white position-absolute top-25 start-0 translate-middle-y px-3 py-2 w-100 opacity-75">Disponibile il @ultimoNoleggio.DataFine.ToShortDateString()</span>
                    }
                }
            <div class="card-body">
                <h5 class="card-title">@item.Titolo</h5>
                <p class="card-text">@item.Descrizione</p>
                <a asp-action="Details" asp-route-id="@item.IdVideogioco" class="btn btn-primary">Dettagli</a>
                <a asp-action="Create" asp-controller="Noleggi" asp-route-idVideogioco="@item.IdVideogioco" class="btn btn-success">Noleggia</a>
            </div>
        </div>
    </div>
}

</div>
