@model IEnumerable<Nostalgame.Models.Videogioco>

@{
    ViewData["Title"] = "I miei videogiochi";
}

<h1>I miei videogiochi</h1>

<div class="row mt-3">
    <div class="col">
        <a asp-action="Create" asp-controller="Videogiochi" class="btn btn-primary">Aggiungi videogioco</a>
    </div>
</div>

<div class="container-fluid">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5">
        @foreach (var item in Model)
        {
            <div class="col mb-4">
                <div class="card position-relative videogioco-card">
                    <img src="@item.Foto" alt="Foto del videogioco" class="card-image" />
                    @if (!item.Disponibile)
                    {
                        var ultimoNoleggio = item.Noleggi.OrderByDescending(n => n.DataFine).FirstOrDefault();
                        if (ultimoNoleggio != null && ultimoNoleggio.DataFine > DateTime.Now)
                        {
                            <span class="badge bg-warning text-white position-absolute top-25 start-0 translate-middle-y px-3 py-2 w-100">Disponibile dal @ultimoNoleggio.DataFine.ToShortDateString()</span>
                        }
                    }
                    <div class="card-body">
                        <h5 class="card-title">@item.Titolo</h5>

                        <a asp-action="Details" asp-route-id="@item.IdVideogioco" class="btn btn-primary">Dettagli</a>
                        <a asp-action="Edit" asp-route-id="@item.IdVideogioco" class="btn btn-primary">Modifica</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<a asp-action="Index" class="btn btn-primary mt-3">Indietro</a>
