@model QuizViewModel

<form asp-action="Submit" method="post">

    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <h1>Quiz</h1>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class="col-12 text-right">
            <a asp-action="Index" asp-controller="Home" class="btn btn-back">Indietro</a>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-12 my-2">
                @for (int i = 0; i < 10; i++)
                {
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">Domanda @(i + 1)</h2>
                        </div>
                        <div class="card-body">
                            <h3 class="card-text">@GetQuestionText(i + 1)</h3>
                            @for (int j = 0; j < 5; j++)
                            {
                                <div class="row my-2">
                                    <div class="col-12">
                                        <label class="radio-card">
                                            <input type="radio" class="radio-input" asp-for="@Model.Domande[i]" value="@Model.Risposte[i * 5 + j]" />
                                            <span class="radio-label">@Model.Risposte[i * 5 + j]</span>
                                            <span class="joystick-icon"></span>
                                        </label>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                }

                <button type="submit" class="btn btn-primary mt-3">Invia</button>
            </div>
        </div>
    </div>
</form>



@functions {
    public string GetQuestionText(int questionNumber)
    {
        switch (questionNumber)
        {
            case 1:
                return "Preferisci giochi con un ritmo lento e rilassato o giochi adrenalinici e veloci?";
            case 2:
                return "Cosa ti piace di più in un videogioco?";
            case 3:
                return "Quale ambiente di gioco preferisci?";
            case 4:
                return "Cosa ti piace di più fare in un videogioco?";
            case 5:
                return "Quale tipo di trama preferisci?";
            case 6:
                return "Quale tipo di sfida preferisci?";
            case 7:
                return "Quale tipo di personaggio preferisci controllare?";
            case 8:
                return "Quale tipo di grafica preferisci?";
            case 9:
                return "Quale tipo di gameplay preferisci?";
            case 10:
                return "Quale tipo di atmosfera preferisci?";
            default:
                return "";
        }
    }
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $('input[type=radio]').change(function () {
                $(this).siblings('.joystick-icon').show();
                setTimeout(function () {
                    $('.joystick-icon').hide();
                }, 500);
            });
        });
    </script>
}






