@model Nostalgame.Models.AvatarViewModel

<h2>Elimina Avatar</h2>

<h3>Siamo sicuri di voler eliminare questo avatar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdGenere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdGenere)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Foto)
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Foto" alt="@Model.Nome" width="100" height="100" />
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdAvatar" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Indietro</a>
    </form>
</div>
