@model IEnumerable<Nostalgame.Models.Avatar>

<h1>Index</h1>

<p>
    <a asp-action="Create">Crea</a>
</p>

@foreach (var item in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
            <p class="card-text">
                <strong>Genere:</strong> @Html.DisplayFor(modelItem => item.Genere.Nome)<br>
                <img src="@item.Foto" alt="@item.Nome" width="100" height="100" />
            </p>
            <a asp-action="Edit" asp-route-id="@item.IdAvatar" class="btn btn-primary">Modifica</a>
            <a asp-action="Details" asp-route-id="@item.IdAvatar" class="btn btn-secondary">Dettagli</a>
            <a asp-action="Delete" asp-route-id="@item.IdAvatar" class="btn btn-danger">Elimina</a>
        </div>
    </div>
}
