@model IEnumerable<Nostalgame.Models.Avatar>

<div class="container">
    <h1 class="my-4">Avatar</h1>

    <p>
        <a asp-action="Create" class="btn-return btn">Aggiungi avatar</a>
    </p>

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                        <p class="card-text">
                            <strong>Genere:</strong> @Html.DisplayFor(modelItem => item.Genere.Nome)<br>
                            <img src="@item.Foto" alt="@item.Nome" class="img-fluid" />
                        </p>
                        <a asp-action="Edit" asp-route-id="@item.IdAvatar" class="btn btn-save">Modifica</a>
                        <a asp-action="Details" asp-route-id="@item.IdAvatar" class="btn btn-return">Dettagli</a>
                        <a asp-action="Delete" asp-route-id="@item.IdAvatar" class="btn btn-cancel-delete">Elimina</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
