@model Nostalgame.Models.PagamentoAbbonamento

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PagamentoAbbonamento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAbbonamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAbbonamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataPagamento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataPagamento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImportoPagato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImportoPagato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utente.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPagamentoAbbonamento">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
